<!DOCTYPE html>
<head>This is the about page</head>
<body>
<p>This page is all in on understanding how to create great boulder problems.</p>
<hr>
<p>If you want to learn more, go to the home page:</p>
<%= link_to'Home', root_path%>
</body>