<!DOCTYPE html>
<head>
    <title> Routesetters curse </title>
</head>
<body>
    <h1 style="color:powderblue;"> The Routesetters Curse </h1>
    <img src="https://i.ytimg.com/vi/lEV6mdUlcc8/maxresdefault.jpg" alt="How to routinely stay creative"> 
    <hr>
    <p> "This site is about understanding and improving the creative process of setting boulder problems, understanding climbing movement and what makes us have fun on a problem.</p>
    <%= link_to 'About', about_path %>


</body>